div.tooltip {	
    position: absolute;			
    width: 75px;					
    padding: 5px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
}

.overlays {
  position: absolute;
  width: 150px;
  height: 50px;
}
div.export {
  right: 10px;
  bottom: 10px;
}

div.clear {
  top: 10px;
  left: 10px;
}

button{
  width: 100%;
  height: 100%;
  font-family: optima;
  border-radius:10px;
}

.tooltip input {
  width: 100%;
}

.hidden {
  display: none;
}