div.tooltip {	
    position: absolute;			
    width: 75px;					
    padding: 5px;				
    font: 12px sans-serif;		
    background: lightsteelblue;	
    border: 0px;		
    border-radius: 8px;			
}

.tooltip input {
  width: 100%;
}

.hidden {
  display: none;
}